<h1>All Vacations</h1>

<% if @vacations.empty? %>
  <h5>No Vacations planned yet. :(</h5>
  <br>
<% end %>

<h5><%= button_to 'Add Vacation', new_group_vacation_path(@group), method: "get" %></h5>

<table class="vacation-table">
  <% @vacations.each do |v| %>
    <tr>
      <td><%= v.date_traveling %></td>
      <td><%= button_to v.description, group_vacation_path(v.group, v), method: "get" %></td>
    </tr>
  <% end %>
</table>
<br>
<%= button_to 'Back to Groups', groups_path, method: :get %>
