<h1>All Vacations</h1>

<% if @vacations.empty? %>
  <h5>No Vacations planned yet. :(</h5>
  <br>
<% end %>
<h5><%= link_to 'Add Vacation', new_group_vacation_path(@group) %></h5>

<table class="vacation-table">
  <tr>
    <th>description</th>
    <th>Date</th>
  </tr>
  <% @vacations.each do |v| %>
    <tr>
      <td><%= link_to v.description, group_vacation_path(v.group, v) %></td>
    </tr>
  <% end %>
</table>