<h1>All Groups</h1>

<% if @groups.empty? %>
<h5> You are not in any groups. :(</h5>
<br>
<% end %>
<h5><%= link_to "Add a group", new_group_path %></h5>

<table class="group-table">
  <tr>
    <th>name</th>
  </tr>
  <% @groups.each do |g| %>
    <tr>
      <td><%= link_to g.name, group_path(g) %></td>
    </tr>
  <% end %>
</table>
