<h1>Welcome friend!</h1>

<%= link_to 'Log out', logout_path %>
<br>
<%= link_to 'All Vacations', vacations_path %>
<br>
<%= link_to 'Edit Vacations', edit_vacation_path %>
<br>
<%= link_to 'Add Vacation', new_vacation_path	 %>
<br>
<%#= link_to 'All Goals', vacation_goals_path %>
<br>
<%#= link_to 'Edit Group Goals', edit_goal_path(@goal) %>