<h1>All Goals</h1>

<table class="goal-table">
  <tr>
    <th>Amount</th>
  </tr>
  <% current_user.goals.each do |g| %>
    <tr>
      <td><%= g.amount %></td>
      <td><%= link_to "Edit", edit_vacation_goal_path %></td>
    </tr>
  <% end %>
</table>