<nav class="navbar fixed-bottom navbar-dark" style="background-color: darkgreen">
  <div class="container-fluid">
    <a class="navbar-brand" <%= link_to "Vacay with Friends", root_path %></a>
  </div>
</nav>
