<% if logged_in? %>
  <div class="collapse navbar-collapse style="background-color: light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" <%= link_to "Log Out", logout_path, method: "post" %></a>
    </li>
  </ul>
</div>
<% end %>