<nav class="navbar navbar-expand-lg navbar-dark navbar" style="background-color: light">
  <div class="container-fluid">
    <a class="navbar-brand" <%= link_to "Vacay with Friends", root_path %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if logged_in? %>
        <li class="nav-item">
          <a class="nav-link"<%= link_to "Sign Up", signup_path %></a>
        </li>
          <li class="nav-item">
            <a class="nav-link"<%= link_to "Log In", login_path %></a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link"<%= link_to "Home", root_path %></a>
          </li>
        <% end %>
        <% if !logged_in? %>
<!--          <li>-->
<!--            <a class="nav-link" <%#= link_to "Log Out", logout_path, method: "post" %></a>-->
<!--          </li>-->
      <% end %>
      </ul>
    </div>
  </div>
</nav>