<!DOCTYPE HTML>
  <html>
    <head>
      <link href="/stylesheets/main.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    </head>
      <body>

  <!--Nav bar-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar" style="background-color: light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Vacay with Friends</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div class="navbar-nav">
              <% if logged_in? %>
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <%# <a class="nav-link" href="/expenses">View All</a>
              <a class="nav-link" href="/expenses/new">Create Expense</a> %>
              <% end %>
            </div>
            
            <!--Log out far right on nav bar-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <ul class="navbar-nav">
                <% if logged_in? %>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a>
                </li>
              </ul>
                  <% end %>
            </div>
            </div>
          </div>
        </nav>

        <!--Sticky Bottom-->
        <nav class="navbar fixed-bottom navbar-dark" style="background-color: light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Vacay with Friends</a>
          </div>
        </nav>

  <!--alignment-->
        <div class="container-sm"
        </div>
            </body>
      <%= yield %>
  </html>